<?xml version="1.0" encoding="UTF-8"?>

<div xmlns="http://www.w3.org/1999/xhtml" component="$model/UI2/system/components/justep/window/window" xid="window" design="device:mobile" data-bind="component:{name:'$model/UI2/system/components/justep/window/window'}" __cid="cAJJbUf" class="cAJJbUf" components="$model/UI2/system/components/justep/model/model,$model/UI2/system/components/justep/loadingBar/loadingBar,$model/UI2/system/components/justep/button/button,$model/UI2/system/components/justep/titleBar/titleBar,$model/UI2/system/components/justep/panel/child,$model/UI2/system/components/justep/data/data,$model/UI2/system/components/justep/window/window,$model/UI2/system/components/justep/panel/panel,">  
  <div xmlns="" component="$model/UI2/system/components/justep/model/model" xid="model" style="display:none" data-bind="component:{name:'$model/UI2/system/components/justep/model/model'}" data-events="onParamsReceive:modelParamsReceive" __cid="cAJJbUf" class="cAJJbUf"/>  
  <div xmlns="" component="$model/UI2/system/components/justep/panel/panel" class="x-panel x-full pcqINFra-iosstatusbar cAJJbUf" data-bind="component:{name:'$model/UI2/system/components/justep/panel/panel'}" __cid="cAJJbUf"> 
    <div class="x-panel-top cAJJbUf" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cAJJbUf"> 
      <div component="$model/UI2/system/components/justep/titleBar/titleBar" class="x-titlebar cAJJbUf" data-bind="component:{name:'$model/UI2/system/components/justep/titleBar/titleBar'}" data-config="{&quot;title&quot;:&quot;成功案例&quot;}" __cid="cAJJbUf"> 
        <div class="x-titlebar-left cAJJbUf" __cid="cAJJbUf"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-only-icon cAJJbUf" xid="backBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:backBtnClick" data-config="{&quot;icon&quot;:&quot;icon-chevron-left&quot;,&quot;label&quot;:&quot;&quot;}" __cid="cAJJbUf"> 
            <i class="icon-chevron-left cAJJbUf" __cid="cAJJbUf"/>  
            <span __cid="cAJJbUf" class="cAJJbUf"/> 
          </a> 
        </div>  
        <div class="x-titlebar-title cAJJbUf" __cid="cAJJbUf">成功案例</div>  
        <div class="x-titlebar-right  cAJJbUf" __cid="cAJJbUf"> 
          <div class="empty cAJJbUf" __cid="cAJJbUf"/> 
        </div> 
      </div> 
    </div>  
    <div class="x-panel-content cAJJbUf" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cAJJbUf"> 
      <div class="x-control-group cAJJbUf" xid="controlGroup1" __cid="cAJJbUf"> 
        <div class="x-control-group-title cAJJbUf" xid="controlGroupTitle1" __cid="cAJJbUf"> 
          <span xid="span1" __cid="cAJJbUf" class="cAJJbUf" data-bind="text:data.val('title')"/> 
        </div>  
        <span __cid="cAJJbUf" class="cAJJbUf" data-bind="text:data.val('wDate')"/>  
        <div __cid="cAJJbUf" class="cAJJbUf" data-bind="foreach:data.datas"> 
          <p __cid="cAJJbUf" class="cAJJbUf" data-bind="text:val('content')"/> 
        </div> 
      </div> 
    </div>  
    <style __cid="cAJJbUf" class="cAJJbUf">.x-panel.pcqINFra-iosstatusbar &gt;.x-panel-top {height: 48px;}.x-panel.pcqINFra-iosstatusbar &gt;.x-panel-content { top: 48px;bottom: nullpx;}.x-panel.pcqINFra-iosstatusbar &gt;.x-panel-bottom {height: nullpx;}.iosstatusbar .x-panel.pcqINFra-iosstatusbar &gt;.x-panel-top,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pcqINFra-iosstatusbar &gt;.x-panel-top {height: 68px;}.iosstatusbar .x-panel.pcqINFra-iosstatusbar &gt;.x-panel-content,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pcqINFra-iosstatusbar &gt;.x-panel-content { top: 68px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pcqINFra-iosstatusbar &gt;.x-panel-top {height: 48px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pcqINFra-iosstatusbar &gt;.x-panel-content {top: 48px;}</style> 
  </div> 
</div>
