<?xml version="1.0" encoding="UTF-8"?>

<div xmlns="http://www.w3.org/1999/xhtml" component="$model/UI2/system/components/justep/window/window" xid="window" design="device:mobile" data-bind="component:{name:'$model/UI2/system/components/justep/window/window'}" __cid="cEfi6b2" class="cEfi6b2" components="$model/UI2/system/components/justep/model/model,$model/UI2/system/components/justep/loadingBar/loadingBar,$model/UI2/system/components/justep/button/button,$model/UI2/system/components/justep/titleBar/titleBar,$model/UI2/system/components/justep/panel/child,$model/UI2/system/components/justep/data/data,$model/UI2/system/components/justep/window/window,$model/UI2/system/components/justep/panel/panel,">  
  <div xmlns="" component="$model/UI2/system/components/justep/model/model" xid="model" style="display:none" data-bind="component:{name:'$model/UI2/system/components/justep/model/model'}" data-events="onParamsReceive:modelParamsReceive" __cid="cEfi6b2" class="cEfi6b2"/>  
  <div xmlns="" component="$model/UI2/system/components/justep/panel/panel" class="x-panel x-full pceem6Rb-iosstatusbar cEfi6b2" data-bind="component:{name:'$model/UI2/system/components/justep/panel/panel'}" __cid="cEfi6b2"> 
    <div class="x-panel-top cEfi6b2" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cEfi6b2"> 
      <div component="$model/UI2/system/components/justep/titleBar/titleBar" class="x-titlebar cEfi6b2" data-bind="component:{name:'$model/UI2/system/components/justep/titleBar/titleBar'}" data-config="{&quot;title&quot;:&quot;促销活动&quot;}" __cid="cEfi6b2"> 
        <div class="x-titlebar-left cEfi6b2" __cid="cEfi6b2"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-only-icon cEfi6b2" xid="backBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:backBtnClick" data-config="{&quot;icon&quot;:&quot;icon-chevron-left&quot;,&quot;label&quot;:&quot;&quot;}" __cid="cEfi6b2"> 
            <i class="icon-chevron-left cEfi6b2" __cid="cEfi6b2"/>  
            <span __cid="cEfi6b2" class="cEfi6b2"/> 
          </a> 
        </div>  
        <div class="x-titlebar-title cEfi6b2" __cid="cEfi6b2">促销活动</div>  
        <div class="x-titlebar-right  cEfi6b2" __cid="cEfi6b2"> 
          <div class="empty cEfi6b2" __cid="cEfi6b2"/> 
        </div> 
      </div> 
    </div>  
    <div class="x-panel-content cEfi6b2" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cEfi6b2"> 
      <div class="x-control-group cEfi6b2" xid="controlGroup1" __cid="cEfi6b2"> 
        <div class="x-control-group-title cEfi6b2" xid="controlGroupTitle1" __cid="cEfi6b2"> 
          <span xid="span1" __cid="cEfi6b2" class="cEfi6b2" data-bind="text:data.val('title')"/> 
        </div>  
        <span __cid="cEfi6b2" class="cEfi6b2" data-bind="text:data.val('wDate')"/>  
        <div __cid="cEfi6b2" class="cEfi6b2" data-bind="foreach:data.datas"> 
          <p __cid="cEfi6b2" class="cEfi6b2" data-bind="text:val('content')"/> 
        </div> 
      </div> 
    </div>  
    <style __cid="cEfi6b2" class="cEfi6b2">.x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-top {height: 48px;}.x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-content { top: 48px;bottom: nullpx;}.x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-bottom {height: nullpx;}.iosstatusbar .x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-top,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-top {height: 68px;}.iosstatusbar .x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-content,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-content { top: 68px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-top {height: 48px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pceem6Rb-iosstatusbar &gt;.x-panel-content {top: 48px;}</style> 
  </div> 
</div>
