<?xml version="1.0" encoding="UTF-8"?>

<div xmlns="http://www.w3.org/1999/xhtml" component="$model/UI2/system/components/justep/window/window" xid="window" design="device:mobile" data-bind="component:{name:'$model/UI2/system/components/justep/window/window'}" __cid="cFRJrYj" class="cFRJrYj" components="$model/UI2/system/components/justep/model/model,$model/UI2/system/components/justep/loadingBar/loadingBar,$model/UI2/system/components/justep/button/button,$model/UI2/system/components/justep/titleBar/titleBar,$model/UI2/system/components/justep/panel/child,$model/UI2/system/components/justep/data/data,$model/UI2/system/components/justep/window/window,$model/UI2/system/components/justep/panel/panel,">  
  <div xmlns="" component="$model/UI2/system/components/justep/model/model" xid="model" style="display:none" data-bind="component:{name:'$model/UI2/system/components/justep/model/model'}" data-events="onParamsReceive:modelParamsReceive" __cid="cFRJrYj" class="cFRJrYj"/>  
  <div xmlns="" component="$model/UI2/system/components/justep/panel/panel" class="x-panel x-full pcVFzIfq-iosstatusbar cFRJrYj" data-bind="component:{name:'$model/UI2/system/components/justep/panel/panel'}" __cid="cFRJrYj"> 
    <div class="x-panel-top cFRJrYj" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cFRJrYj"> 
      <div component="$model/UI2/system/components/justep/titleBar/titleBar" class="x-titlebar cFRJrYj" data-bind="component:{name:'$model/UI2/system/components/justep/titleBar/titleBar'}" data-config="{&quot;title&quot;:&quot;服务项目&quot;}" __cid="cFRJrYj"> 
        <div class="x-titlebar-left cFRJrYj" __cid="cFRJrYj"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-only-icon cFRJrYj" xid="backBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:backBtnClick" data-config="{&quot;icon&quot;:&quot;icon-chevron-left&quot;,&quot;label&quot;:&quot;&quot;}" __cid="cFRJrYj"> 
            <i class="icon-chevron-left cFRJrYj" __cid="cFRJrYj"/>  
            <span __cid="cFRJrYj" class="cFRJrYj"/> 
          </a> 
        </div>  
        <div class="x-titlebar-title cFRJrYj" __cid="cFRJrYj">服务项目</div>  
        <div class="x-titlebar-right  cFRJrYj" __cid="cFRJrYj"> 
          <div class="empty cFRJrYj" __cid="cFRJrYj"/> 
        </div> 
      </div> 
    </div>  
    <div class="x-panel-content cFRJrYj" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cFRJrYj"> 
      <div class="x-control-group cFRJrYj" xid="controlGroup1" __cid="cFRJrYj"> 
        <div class="x-control-group-title cFRJrYj" xid="controlGroupTitle1" __cid="cFRJrYj"> 
          <span xid="span1" __cid="cFRJrYj" class="cFRJrYj" data-bind="text:data.val('title')"/> 
        </div>  
        <span __cid="cFRJrYj" class="cFRJrYj" data-bind="text:data.val('wDate')"/>  
        <div __cid="cFRJrYj" class="cFRJrYj" data-bind="foreach:data.datas"> 
          <p __cid="cFRJrYj" class="cFRJrYj" data-bind="text:val('content')"/> 
        </div> 
      </div> 
    </div>  
    <style __cid="cFRJrYj" class="cFRJrYj">.x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-top {height: 48px;}.x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-content { top: 48px;bottom: nullpx;}.x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-bottom {height: nullpx;}.iosstatusbar .x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-top,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-top {height: 68px;}.iosstatusbar .x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-content,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-content { top: 68px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-top {height: 48px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pcVFzIfq-iosstatusbar &gt;.x-panel-content {top: 48px;}</style> 
  </div> 
</div>
